<navegacao></navegacao>

<div class="container">
	<div class="panel panel-default md-12">
		<div class="panel-heading">
			<h3 class="panel-title">Federações</h3>

			<button type="button" class="btn btn-primary pull-right btn-xs bt-top-bar-crud" ng-click="cancelAddItem()"><span class="glyphicon glyphicon-th-list"></span></button>
			<button type="button" class="btn btn-primary pull-right btn-xs bt-top-bar-crud"><span class="glyphicon glyphicon-export"></span></button>
			<button type="button" class="btn btn-primary pull-right btn-xs bt-top-bar-crud" ng-click="addItem()"><span class="glyphicon glyphicon-plus"></span></button>

		</div>
		

		<!-- Filter inicio -->
		<div class="panel-body" ng-show="!showForm">

			<div class="container-fluid filter-container">
				<form ng-show="showFilter" id="demo" class="collapse">
					<div class="row">
					  <div class="form-group col-md-6">
					    <label for="sigla">Sigla</label>
					    <input type="text" class="form-control" id="sigla" placeholder="Sigla" ng-model="federacao.sigla" ng-maxlength="2">
					  </div>
					  <div class="form-group col-md-6">
					    <label for="exampleInputEmail1">UF</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="UF">
					  </div>
					</div>

				<div class="row">
				  <div class="form-group col-md-6">
				    <label for="nome">Nome</label>
				    <input type="text" class="form-control" id="nome" placeholder="Nome">
				  </div>
				</div>

				<div class="row col-md-12 text-center">
					<button type="submit" class="btn btn-primary" ng-click="clickFilterPesquisa()">Pesquisar</button>
					<button type="submit" class="btn btn-default" ng-click="clickFilterTransition()">Cancelar</button>
				</div>
				
				</form>

				<button class="btn btn-primary btn-sm pull-right btn-filter-back" ng-click="clickFilterTransition()" data-toggle="collapse" data-target="#demo" ng-show="showFilter"><span class="glyphicon glyphicon-chevron-up"></span></button>

				<div class="row" ng-show="!showFilter">
					<button class="btn btn-primary btn-sm pull-right btn-filter-expand" ng-click="clickFilterTransition()" data-toggle="collapse" data-target="#demo"><span class="glyphicon glyphicon-chevron-down"></span></button>
				</div>
			</div>
		</div>
		<!-- Filter fim -->

		<div class="alert alert-danger" role="alert" ng-show="showErrorMessage"><b>{{errorMessage}}</b></div>

		<div class="container-fluid crud-grid-action-bar">
			<div class="btn-group pull-right">
			  <button type="button" class="btn btn-primary" ng-disabled="!rowIsSelected" ng-click="editarItem()"> 
			  	<span class="glyphicon glyphicon-edit btn-xs"></span>
			  	Editar 
			  </button>
			  <button type="button" class="btn btn-primary" ng-disabled="!rowIsSelected" ng-click="deletarItem()">
			  	<span class="glyphicon glyphicon-trash btn-xs"></span>
			  	Excluir 
			  </button>
			</div>
		</div>


  				
		<div class="table-responsive" ng-show="!showForm">
  			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Escudo</th>
						<th>Sigla</th>
						<th>UF</th>
						<th>Nome</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="federacao in listaFederacoes" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
						<td><img src="images/federacoes/cbfm.png" class="img-fed-grid" /></td>
						<td>{{federacao.sigla}}</td>
						<td>{{federacao.uf}}</td>
						<td>{{federacao.nome}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="pagination" ng-show="!showForm">
				<li class="disabled"><a href="#">&laquo;</a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">&raquo;</a></li>
		</ul>

		<!-- Form -->
		<div class="panel-body" ng-show="showForm">

		<form>

		<div class="row">
			<div class="form-group col-md-6">
				<label>Sigla</label>
				<input type="text" class="form-control" placeholder="Sigla" ng-model="federacao.sigla" required>
			</div>
			<div class="form-group col-md-6">
				<label>Nome</label>
				<input type="text" class="form-control" placeholder="Nome"ng-model="federacao.nome" required>
			</div>
		</div>		
		<div class="row">
			<div class="form-group col-md-6">
				<label>UF</label>
				<select ng-model="federacao.uf" class="form-control crud-form-select-uf">
					<option ng-repeat="e in estadosBrasileiros" value="{{e.Sigla}}" ng-selected="federacao.uf==e.Sigla">{{e.Sigla}}</option>

				</select>
			</div>				
		</div>

		</form>

			<div class="row col-md-12 text-center">
				<button type="submit" class="btn btn-primary" ng-click="saveItem()">Salvar</button>
				<button type="submit" class="btn btn-default" ng-click="cancelAddItem()">Cancelar</button>
			</div>
		</div>

	</div>
</div>