    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading text-center">CBFM-Manager <small>Login</small></h2>
        <label for="inputUser" class="sr-only">Usuário</label>
        <input type="text" ng-model="credentials.username" id="inputUser" class="form-control signin-username" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" ng-model="credentials.password" id="inputPassword" class="form-control signin-password" placeholder="Password" required>
        <!-- <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div> -->
        <button ng-click="login()" class="btn btn-lg btn-primary btn-block signin-submit" type="submit">Entrar</button>
      </form>

    </div>